<form action="users.htm" class="form-horizontal" method="get" id="paging-form"></form>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>上级</th>
            <th>组织架构维护</th>
        </tr>
        </thead>
        <tbody>
            #foreach($user in $paging.data)
            <tr>
                <td>$!{user.user.userId}</td>
                <td>$!{user.user.userName}</td>
                <td>#foreach($parent in $user.parents)
                        <a href="edit_parent.htm?userId=${parent.userId}">${parent.userName}</a>
                    #end
                </td>
                <td><a href="edit_parent.htm?userId=$!{user.user.userId}">修改</a> </td>
            </tr>
            #end
        </tbody>
    </table>
</div>

#parse('paging.vm')