#if($!errorMsg)
<div class="alert alert-danger" role="alert">$!{errorMsg}</div>
#end

<form action="add_category.htm" class="form-horizontal" method="post">
    $!csrfToken.hiddenField
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <input type="hidden" name="act" value="1"/>
    <input type="hidden" name="id" value="$!{id}"/>

    <div class="form-group">
        <label>名称</label><input class="form-control form-control-sm" name="name" value="$!{name}" required>
    </div>
    <div class="form-group">
        <label>排序(正序)</label>
        <input class="form-control form-control-sm" name="sort" value="$!{sort}" required>
    </div>
    <button class="btn btn-danger btn-sm" type="submit">保存</button>
</form>
