#if($!errorMsg)
<div class="alert alert-warning" role="alert"><strong>Warning!</strong> $!{errorMsg}</div>
#end
<form action="task_submit.htm" class="form-horizontal" method="post" target="_form">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <input type="hidden" name="callback" value="window.parent.callback"/>
    #parse("/velocity/include/form_edit.vm")
    <button class="btn btn-danger btn-sm" type="submit">保存</button>
</form>


<iframe name="_form" style="display:none"></iframe>

<script type="text/javascript">
    function callback(json) {
      var data=  JSON.parse(json);
      if(data.success){
          alert('提交成功')
      }else{
          alert(data.errorMsg);
      }
    }
</script>