#if($finished)
    <div class="alert alert-success" role="alert">流程结束 耗时：${cost}分钟</div>
#else
    <div class="alert alert-warning" role="alert">审批中 耗时：${cost}分钟</div>
#end

#foreach($nodeVO in $nodes)
    #set($node=$nodeVO.node)
    #set($fields=$nodeVO.fields)
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">$!{node.activityName}</h1>
            #if($nodeVO.edit)
                <form action="task_submit.htm" class="form-horizontal" method="post" target="_form">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <input type="hidden" name="callback" value="window.parent.callback"/>
                    #parse("/velocity/include/form_edit.vm")
                    <button class="btn btn-danger btn-sm" type="submit">保存</button>
                </form>
            #else
                <form action="#" class="form-horizontal">
                    #parse("/velocity/include/form_show.vm")
                </form>
            #end
            <hr class="my-4">
            #if(!$node.startEvent)
                <p class="lead">处理人：#if(!$node.assignee)待指派#else${node.assigneeName}#end</p>
                <p class="lead">状态：#if($node.stateValue==0)未开始#elseif($node.stateValue==1)审批中#{else}已结束#end</p>
            #end
            <p class="lead">开始时间：#if($node.startTime)$common.formatDate($node.startTime)#end</p>
            #if($node.endTime)
                <p class="lead">结束时间：$common.formatDate($node.endTime)</p>
            #end
            #if($nodeVO.durationMin && !$node.startEvent)
                <p class="lead">耗时：$nodeVO.durationMin 分钟</p>
            #end
        </div>
    </div>
#end

<iframe name="_form" style="display:none"></iframe>

<script type="text/javascript">
    function callback(json) {
        var data=  JSON.parse(json);
        if(data.success){
            alert('提交成功')
            window.location.reload();
        }else{
            alert(data.errorMsg);
        }
    }
</script>
