#if($!errorMsg)
<div class="alert alert-warning" role="alert"><strong>Warning!</strong> $!{errorMsg}</div>
#end

<form action="approve_holiday.htm" class="form-horizontal" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <div class="form-group">
        <label>ID</label><input class="form-control form-control-sm" name="taskId" value="$!{taskId}" readonly>
    </div>
    <div class="form-group">
        <label>姓名</label><input class="form-control form-control-sm" value="$!{userName}" readonly>
    </div>
    <div class="form-group">
        <label>天数</label><input class="form-control form-control-sm" value="$!{days}" readonly>
    </div>
    <div class="form-group">
        <label>理由</label><input class="form-control form-control-sm" value="$!{description}" readonly>
    </div>
    #if($leaders)
        <div class="form-group">
            <label>加签</label>
            <select class="form-control form-control-sm" name="confirmUser" required>
                <option value="-1">请选择</option>
                #foreach($leader in $leaders)
                    <option value="${leader.userId}" #if($confirmUser==$leader.userId) selected #end>${leader.userName}</option>
                #end
            </select>
        </div>
    #end
    <div class="form-group">
        <label>审批</label>
        <select class="form-control form-control-sm" name="approve" required>
            <option value="1" #if($approve==1) selected #end>通过</option>
            <option value="0" #if($approve==0) selected #end>驳回</option>
        </select>
    </div>
    <button class="btn btn-danger btn-sm" type="submit">提交</button>
</form>
