#if($!errorMsg)
<div class="alert alert-warning" role="alert"><strong>Warning!</strong> $!{errorMsg}</div>
#end

<form action="approve_holiday.htm" class="form-horizontal" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <div class="form-group">
        <label>ID</label><input class="form-control form-control-sm" name="taskId" value="$!{taskId}" readonly>
    </div>
    <div class="form-group">
        <label>姓名</label><input class="form-control form-control-sm" value="$!{userName}" readonly>
    </div>
    <div class="form-group">
        <label>天数</label><input class="form-control form-control-sm" value="$!{days}" readonly>
    </div>
    <div class="form-group">
        <label>理由</label><input class="form-control form-control-sm" value="$!{description}" readonly>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>节点</th>
            <th>处理人</th>
            <th>状态</th>
            <th>接收时间</th>
            <th>处理完成时间</th>
        </tr>
        </thead>
        <tbody>
            #foreach($node in $nodes)
            <tr>
                <td>$!{node.activityName}</td>
                <td>#if(!$node.assignee)待指派#else${node.assigneeName}#end</td>
                <td>
                    #if($node.state==0)
                        未开始
                    #elseif($node.state==1)
                        审批中
                    #else
                        已结束
                    #end
                </td>
                <td>#if($node.startTime)$common.formatDate($node.startTime)#end</td>
                <td>#if($node.endTime)$common.formatDate($node.endTime)#end</td>
            </tr>
            #end
        </tbody>
    </table>
</div>